@import './src/css/global.css';


.hero-section {
    background-image: url('./assets/background/background-contabilidade13b.jpg');
    width: 100%;
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    color: white;
}