		.social {
			width: 90px;
		}

		.social img {
			height: 24px;
			width: 24px;
		}

		.footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #040404;
			color: gray;
			font-size: 0.9rem;
			font-weight: 400;
			padding: 20px;
		}